* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 700;
}

#form {
  max-width: 50%;
  min-width: 260px;
  margin-inline: auto;
}

#ingresarInformacion {
  max-width: fit-content;
  margin: 0 auto;
}

body {
  padding-bottom: 80px;
}

.btn-container {
  border-radius: 5px;
  padding: 2rem 0;
  margin: 2rem 0;
}

.btn-main {
  display: block;
  width: 15rem;
  height: 5rem;
  font-weight: 700;
  margin-inline: auto;
}

.btn-primary {
  background-color: #2F97C1;
  border: 1px solid #2F97C1;
}

.btn-primary:disabled {
  background-color: #2F97C1;
  border: 1px solid #2F97C1;
  opacity: 40%;
}

.btn-primary:hover {
  background-color: #1CCAD8;
  color: #000;
  border: 1px solid #1CCAD8;
}
/* 
.btn-container {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
} */
