* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-style: normal;
  }

  #form {
    max-width: 50%;
    min-width: 260px;
    margin-inline: auto;
  }
  
  #ingresarInformacion {
    max-width: fit-content;
    margin: 0 auto;
  }
  
  body {
    padding-bottom: 80px;
  }