* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", sans-serif;
}

#form {
  max-width: 50%;
  min-width: 260px;
  margin-inline: auto;
}

#ingresarInformacion {
  max-width: fit-content;
  margin: 0 auto;
}

body {
  padding-bottom: 80px;
}

.btn-main {
  display: block;
  width: 15rem;
  height: 5rem;
  font-weight: 700;
}
/* 
.btn-container {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
} */
